body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  

section{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background: url(../images/match.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    
}


section h1{
    text-align: center;
    margin: 0;
    padding-top: 25vh;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
}

section h2{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2.7rem;
    text-shadow: 1px 1px 1px black;
}

.reg-button{
    margin-top: 50px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    section h1{
        font-size: 1rem;
    }

    section h2{
        font-size: 1rem;
    }
    
  }

