body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  

header{
    margin: 0;
    padding: 0;
    height: 100vh;
    border-bottom: 1px solid black;
    background-size: cover;
    

}
header h1{
    text-align: center;
    margin: 0;
    padding-top: 20vh;
    color: white;
    font-style: uppercase;
}

header h2{
    text-align: center;
    color: white
}

nav ul{
  margin: 0;
  color: black;
  list-style-type: none;
  display: inline;
  text-align: center;
}

ul a{
    color: black;
    display: inline;
}

h1 span{
    background-color: rgb(102, 102, 211)
}
h2 span{
    background-color: rgb(102, 102, 211)
}