body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
.about{
    background-color: black;
    text-align: center;
    
}

.about h2{
  margin: 0;
  padding-top: 5vh;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

.about p{
  font-size: 1.5rem;
  margin-top: 5vh;
  color: rgb(93, 170, 106);
  font-weight: bold;
  
}
 
.guide > div{
  color:  rgb(93, 170, 106);
  padding: 1em;
  height: 22vh;
  margin-bottom: 5vh;
  text-align: center;
}

.guide{
  text-align: center;
  grid-gap: 1em;
  background-color: black;
 }

.guide h1{
  font-weight: bold;
  color:  white;
  text-align: center;
  padding-top: 5vh;
}

.guide p{
  font-size: 1.5rem;
  color: rgb(93, 170, 106);
  font-weight: bold;
}


@media only screen and (max-width: 768px){
  .about h2{
    font-size: 2rem;
  }

  .about p{
    font-size: 1.2rem;
  }

  .guide h1{
    font-size: 1.85rem;
    padding-top: 1vh;
  }

  .guide p{
    font-size: 1.2rem;

  }

  .guide{
    padding-top: 2vh;
  }
}