body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
  
.about{
    background-color: black;
    text-align: center;
    
}

.about h2{
  margin: 0;
  padding-top: 5vh;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

.about p{
  font-size: 1.5rem;
  margin-top: 5vh;
  color: rgb(93, 170, 106);
  font-weight: bold;
  
}
 
.guide > div{
  color:  rgb(93, 170, 106);
  padding: 1em;
  height: 30vh;
  margin-bottom: 5vh;
  text-align: center;
}

.guide{
  text-align: center;
  grid-gap: 1em;
  margin-top: 5vh;
  margin-top: 10vh;
 }

.guide h1{
  font-weight: bold;
  color:  rgb(93, 170, 106);
  text-align: center;
}

.guide p{
  color: black;
}
