body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
  
.about{
    background-color: black;
    text-align: center;
    
}

.about h2{
  margin: 0;
  padding-top: 5vh;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

p{
  font-size: 1.5rem;
  margin-top: 5vh;
  color: rgb(116, 113, 113);
  font-weight: bold;
  
}
 
.guide > div{
  background:rgb(93, 170, 106);
  padding: 1em;
  height: 30vh;
  margin-bottom: 5vh;
}

.guide{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  text-align: center;
  grid-gap: 1em;
  margin-top: 5vh;
  margin-top: 10vh;
}

.guide h1{
  font-weight: bold;
  color: white;
}

.guide p{
  color: white;
}
